#a, #b, #c, #d, #e, #f{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-weight: 100;
    font-size: 1rem;
}

.title{
    font-size: 2rem;
    font-weight: 900;
    padding: 10px;
}