body{
    text-align: center;
    user-select: none;
}

#balonik{
    display: inline-block;
    position: center;
    font-size: 50px;
    margin-top: 50px;
}

#context-menu {
    position: fixed;
    z-index: 10;
    width: 160px;
    background: #2a2929;
    border-radius:5px;
    transform:scale(0);
    transform-origin:top left;
}

#context-menu.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#context-menu #item {
    font-family: Arial, serif;
    padding:8px 10px;
    font-size:15px;
    color:#eee;
}

