html{
    font-size: 1.1vw;
	user-select: none;
}

body {
    margin:0;
}

.headText{
    color: #c2cb00;
    position: relative;
    top: 7vh;
}

.board {
    height: 100vh;
    width: auto;
    position: relative;
    overflow: hidden;
    background-image: url(images/board-bg.jpg);
    background-size: cover;
    background-position: center bottom;
}

.zombie {
    cursor: none;
    width: 200px;
    height: 312px;
    background: url(images/walkingdead.png);
    animation:
        go 0.5s 0s infinite steps(9),
        moveUp 8s 0s 1 linear both;
    transform-origin: center bottom;
    position: absolute;
    bottom: 20px;
    left: 200px;
    user-select: none;
}

@keyframes go {
    100% {
        background-position-x: -1800px;
    }
}

@keyframes moveUp {
    0% {
        left: 100%;
    }
    100% {
        left: -200px;
    }
}

.startingField{
    display: grid;
    justify-content: center;
    position: relative;
    width: 33vw;
    height: 60vh;
    margin-top: 10vh;
    margin-left: 33vw;
    background: rgba(18, 6, 49, 0.87);
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    user-select: none;
    transform:scale(0);
    transform-origin:top left;
}

.startingField.active{
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#InsertNickName{
    position: relative;
    top: -5vh;
    margin: auto;
    width: 25vw;
    height: 10vh;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: center;
    border: none;
}

#nickError{
    color: #ff0000;
    font-size: 1rem;
}

#InsertNickName:focus{
    outline: none;
    box-shadow: 0 0 20px 10px rgba(79, 2, 157, 0.9);
}

/*POLE KONCOWE - WYNIKI*/
.endingField{
    position: relative;
    width: 75vw;
    height: 70vh;
    margin-top: -60vh;
    margin-left: 12.5vw;
    background: rgba(18, 6, 49, 0.87);
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    user-select: none;
    transform:scale(0);
    transform-origin:top left;
}

.endingField.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.endingField>p{
    position: relative;
    top:2rem;
}

.endingField>button{
    position: relative;
    top:2rem;
}

.resultsRanking>*{
    font-size: 1rem;
    text-align: center;
}

#endingScore{
    position: relative;
    margin: 0;
    padding: 0;
}

.resultsRanking{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}

.mousePointer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.7);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.mousePointer::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff0000;
}

.hidePointer{
    cursor: none;
}


.currentScore {
    position: absolute;
    right: 80px;
    top: 30px;
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    user-select: none;
    text-shadow: 4px 4px #131313;
}
.currentNick{
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    user-select: none;
    text-shadow: 2px 2px #131313;
}


button{
    width: 20rem;
    background: #3b0072;
    color: #c2cb00;
    border: 0;
    box-shadow: 0 0 20px 10px #3b0072;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

button:hover{
    background: #6504c7;
    box-shadow: 0 0 20px 10px #6504c7;
}

#sendNickButton{
    display: block;

    margin: 0 auto auto auto;
    font-size: 2rem;
}

.starting{
	position: absolute;
	top:15rem;
	left:42.5rem;
	font-size: 10rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: center;
	z-index: 200000;
	color:white;
	text-shadow: 2px 2px #131313;
}

.life{
	position: absolute;
	display: block;
	background-color: rgba(255, 44, 44, 0);
	z-index: 2000;
    top: 30px;
    font-size: 3rem;
	left:30px;
	user-select: none;
	text-shadow: 2px 2px #131313;
	font-family: 'Roboto Mono', monospace;
}

.hitsRow{
	position: absolute;
	display: block;
	background-color: rgba(255, 44, 44, 0);
	z-index: 2000;
	bottom: 50px;
	left: 38vw;
	font-size: 3rem;
}